terratowns_endpoint="https://terratowns.cloud/api"

redandblack = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/redandblack"
    content_version = 1
}    
bassandfishing ={
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/bassandfishing"
    content_version = 1
}

